/* -------------GENERAL--------- */

.cursor {
  cursor: pointer;
}

/* --------PROFILE---------- */
.bgProfile {
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.photoBgIcon {
  border-radius: 50px;
  padding-top: 5px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
}

.photoProfile {
  border-radius: 70px;
  border: 3px solid white;
  position: absolute;
  left: 25px;
  top: 45%;
  width: 130px;
  height: 130px;
}
.icon {
  width: 40px;
  height: 40px;
}
.myform {
  width: 200px;
}
.iconSpace,
.mercado-match {
  margin-inline: 25px;
  color: #666666;
  font-size: small;
}

.user:hover {
  cursor: pointer;
}

.bord:hover {
  border-bottom: solid 2px black;
}
.mercado-match:hover {
  color: black;
  fill: rgb(31, 17, 17);
  cursor: pointer;
}

.resized-avatar {
  width: 30px;
  height: 30px;
}

.allContainer {
  display: flex;
  justify-content: center;
}

.Verify {
  font-size: 15px;
  font-weight: bold;
  background-color: #f4f2ee;
}

.links {
  color: #0966c2;
  font-weight: bold;
  text-decoration: none;
}

.links:hover {
  color: #0a5ed7;
}

.profileContainer {
  border: 1px solid black;
  border-radius: 10px;
}

.outlineButtons {
  padding: 5px;
  border: 1.5px solid #0966c2;
  color: #0966c2;
  font-weight: bold;
  background-color: white;
  transition: ease-in-out 0.1s;
}

.outlineButtons:hover {
  background-color: #daeaff;
  border: 2px solid #0a5ed7;
  color: #0a5ed7;
  transition: ease-in-out 0.1s;
}

.outlineButtonsProfile {
  padding: 5px;
  color: #0966c2;
  font-weight: bold;
  background-color: white;
  transition: ease-in-out 0.3s;
}

.outlineButtonsProfile:hover {
  background-color: white;
  border: 1px solid #0a5ed7;
  color: #0a5ed7;
  transition: ease-in-out 0.1s;
}

.outlineButtonsProfileGrey {
  border: 0px;
  background-color: white;
  color: #6c757d;
}

.outlineButtonsProfileGrey:hover {
  background-color: #d4d4d4;
  color: #6c757d;
}

/* ------------------------------ */
